<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>
asdjasfjklasjfklasjfkl
<form th:method="PATCH" th:action="@{/blog/{id}( id = ${blogs.getId()})}" th:object="${blogs}">
    <label for="author">Enter author name: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <br/>
    <label for="text">Enter ur text: </label>
    <input type="text" th:field="*{text}" id="text"/>
    <br/>
    <input type="submit" value="Create!"/>
</form>
</body>
</html>